empty.cs
*/obj
*/bin
*/obj/*
*/bin/*
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*.csproj-[1-9]*
*.csproj[1-9]*
*~
*.sql
*.swp
*.swo
/source/docs/Help/*.*
artifacts
UpgradeLog.XML
_UpgradeReport_Files
git.yaml
Gemfile.lock
*mm_cache*
db_dev.rb
